[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
black = "*"
flake8 = "*"
structlog = "*"
psycopg2-binary = "*"
requests = "*"
retry = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
tests = "pytest tests/unit/"
it-tests = "pytest tests/integration/"
lint = "./lint.sh"
dev = "python run_dev.py"
prod = "./run_prod.sh"
