[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
black = "*"
flake8 = "*"
structlog = "*"
psycopg2-binary = "*"
requests = "*"
retry = "*"
pyyaml = "*"
click = "*"
"discord.py" = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
tests = "./scripts/run_unit_tests.sh"
it-tests = "pytest tests/integration/"
lint = "./scripts/lint.sh"
server = "python run_server.py"
synchronize = "python src/cli/cli.py synchronize"
wipe = "python src/cli/cli.py wipe"
notify = "python src/cli/cli.py notify"
bot = "python src/cli/cli.py bot"
